.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.logout-button {
  margin-right: 0px;
  background-color: var(--kendo-color-primary);
  color: white;
  font-weight: bold;
}
.logout-button:hover {
  background-color: var(--kendo-color-primary);
  color: white;
}
.k-breadcrumb-item {
  color: var(--kendo-color-primary);
  font-size: var(--kendo-font-size-lg);
  font-weight: var(--kendo-font-weight-regular);
}
.k-breadcrumb-item span {
  opacity: 1;
}
.header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.user-info {
	display: flex;
	align-items: center;
	gap: 10px;
}
.user-info .user-name {
  color: #000000;
  font-size: var(--kendo-font-size-xl);
  font-weight: var(--kendo-font-weight-regular);
}
.user-info .user-role {
  color: var(--kendo-color-subtle);
  font-size: var(--kendo-font-size-lg);
  font-weight: var(--kendo-font-weight-regular);
}
.user-info kendo-dropdownbutton .k-menu-button {
  background-color: transparent;
  border: 0px;
  outline: none;
  box-shadow: none;
  padding: 0px;
}
.header-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.setting-block,
.question-block {
  padding-right: 20px;
}
.setting-block .setting-button,
.question-block .question-button {
  width: 40px;
  height: 40px;
}
.language-block{
  margin-right: 20px;
}
