body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.main-container {
  display: flex;
  height: 100vh;
}
.dashboard-container {
  flex-grow: 1;
  overflow-y: auto;
}
.table-container {
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.styled-grid {
  border: 1px solid #ddd;
}